@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 167 46% 99%;
    --foreground: 167 61% 4%;
    --muted: 137 9% 85%;
    --muted-foreground: 137 1% 39%;
    --popover: 167 46% 99%;
    --popover-foreground: 167 61% 4%;
    --card: 167 46% 98%;
    --card-foreground: 167 61% 3%;
    --border: 167 13% 94%;
    --input: 167 13% 94%;
    --primary: 167 73% 52%;
    --primary-foreground: 167 73% 12%;
    --secondary: 137 73% 52%;
    --secondary-foreground: 137 73% 12%;
    --accent: 197 73% 52%;
    --accent-foreground: 0 0% 0%;
    --destructive: 8 95% 25%;
    --destructive-foreground: 8 95% 85%;
    --ring: 167 73% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 167 39% 2%;
    --foreground: 167 20% 98%;
    --muted: 137 9% 15%;
    --muted-foreground: 137 1% 61%;
    --popover: 167 39% 2%;
    --popover-foreground: 167 20% 98%;
    --card: 167 39% 3%;
    --card-foreground: 167 20% 99%;
    --border: 167 13% 14%;
    --input: 167 13% 14%;
    --primary: 167 73% 52%;
    --primary-foreground: 167 73% 12%;
    --secondary: 137 73% 52%;
    --secondary-foreground: 137 73% 12%;
    --accent: 197 73% 52%;
    --accent-foreground: 0 0% 0%;
    --destructive: 8 95% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 167 73% 52%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}